ion-header {
    background-color: #4a90e2; /* Couleur d'arrière-plan */
  }
  
  ion-content {
    background-color: #f4f4f4; /* Couleur d'arrière-plan de la page */
    
    h2 {
      margin-top: 16px;
      text-align: center;
      font-weight: bold;
      color: #333; /* Couleur du texte */
      font-size: 1.5em; /* Taille du texte */
    }
  
    p {
      margin-top: 12px;
      margin-left: 16px;
      margin-right: 16px;
      font-size: 1.1em; /* Taille du texte */
      color: #666; /* Couleur du texte */
      
      strong {
        color: #333; /* Couleur pour les textes en gras */
      }
    }
  
  }
  
  ion-button {
     display:block;
     margin-left:auto;
     margin-right:auto;
     margin-top:20px; 
     --background:#4a90e2; 
     --color:white;
  
     &:hover {
       opacity:.8; 
     }
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0; // Ajoutez un peu d'espace autour de l'image
  }
  
  .normal-image {
    width: 80%; // Limitez la largeur du thumbnail à 80% de l'écran
    max-width: 500px; // Vous pouvez définir une largeur maximale si nécessaire
    height: 80%; // Limitez la largeur du thumbnail à 80% de l'écran
    max-height: 500px; // Vous pouvez définir une largeur maximale si nécessaire
    border-radius: 8px; // Optionnel : arrondir les coins de l'image
  }