<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button onclick="reload()" defaultHref="/todo-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Task details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="todo">
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="todo.toDoText" (ionBlur)="updateTodoDetails()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Details</ion-label>
    <ion-textarea [(ngModel)]="todo.details" (ionBlur)="updateTodoDetails()"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Completed</ion-label>
    <ion-toggle [checked]="todo.completed" disabled="true"></ion-toggle>
  </ion-item>

  <ion-button *ngIf="todo.imageUrl == ''"expand="block" (click)="addPhotoToTodo()">
    Add photo
  </ion-button>

  <div class="image-container" *ngIf="todo.imageUrl">
    <img [src]="todo.imageUrl" class="normal-image" />
  </div>

  <ion-button *ngIf="todo.imageUrl" expand="block" color="danger" (click)="confirmRemoveImage()">
    Delete photo
  </ion-button>
  
</ion-content>
