ion-header {
    background: linear-gradient(135deg, #4a90e2, #9013fe);
    color: white;

    ion-toolbar {
        --background: transparent;
    }

    ion-title {
        font-weight: bold;
        font-size: 1.5em;
    }
}


.login-button {
    margin-top: 20px;
}

.register-link {
    text-align: center;
    margin-top: 15px;

    p {
        margin: 0;
        font-size: 14px;

        a {
            color: var(--ion-color-primary);
            font-weight: bold;
        }
    }
}