<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let todo of todoList">
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="todo.completed" (ionChange)="completeToDoContent(todo)"></ion-checkbox>
        <ion-label>{{ todo.toDoText }}</ion-label>
        <ion-item-option color="danger" (click)="removeToDoContentFromList(todo)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-item>
    <ion-input [(ngModel)]="newTodoText" placeholder="Add a new todo"></ion-input>
    <ion-button (click)="addTodo()">Add</ion-button>
  </ion-item>
</ion-content>