.login-button {
    margin-top: 20px;
}

.register-link {
    text-align: center;
    margin-top: 15px;

    p {
        margin: 0;
        font-size: 14px;

        a {
            color: var(--ion-color-primary);
            font-weight: bold;
        }
    }
}