<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="todo-container">
    <ion-list>
      <ion-item-sliding *ngFor="let todo of todoList">
        <ion-item *ngIf="todo.toDoText != ''">
          <ion-checkbox slot="start" (ionChange)="completeToDoContent(todo)"></ion-checkbox>
          <ion-label [class.completed]="todo.completed" (click)="goToTaskDetail(todo.id)"> {{
            todo.toDoText}}</ion-label>
          <ion-thumbnail slot="end" *ngIf="todo.imageUrl">
            <img [src]="todo.imageUrl">
          </ion-thumbnail>
          <ion-item-option color="primary" (click)="updateTodoTask(todo)">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeToDoTaskFromList(todo.id)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>

  <form (ngSubmit)="addTodoTask()" [formGroup]="todoContentForm">
    <div class="todo-add-button-container">
      <ion-item>
        <ion-input #todoText formControlName="newTodoText" [(ngModel)]="newTodoText" placeholder="Add a new todo"
          required="true"></ion-input>
        <ion-button fill="outline" class="todo-add-button" type="submit" [disabled]="todoContentForm.invalid">
          Add
        </ion-button>
      </ion-item>
    </div>
  </form>

</ion-content>