ion-content {
    --background: #242424;
}

ion-header {
    background: linear-gradient(135deg, #4a90e2, #9013fe);
    color: white;

    ion-toolbar {
        --background: transparent;
    }

    ion-title {
        font-weight: bold;
        font-size: 1.5em;
    }
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
}

.task-card {
    background-color: #CCCC;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &.completed {
        opacity: 0.7;

        .task-content {
            text-decoration: line-through;
        }
    }
}

.task-content {
    padding: 16px;

    h2 {
        margin: 0;
        font-size: 1rem;
        color: black;
    }

    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-top: 8px;
        border-radius: 8px;
    }
}

.task-actions {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #CCCC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    ion-button {
        --padding-start: 4px;
        --padding-end: 4px;
        height: 30px;
    }
}

.add-task-form {
    position: fixed;
    bottom: 16px;
    border-radius: 8px;
    left: 16px;
    right: 16px;
    z-index: 1000;
    background: #242424;
}

.add-task-item {
    --background: #0000;
    --border-radius: 25px;
}